{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <style>
        body {
            font-family: 'Handlee', cursive;
            background-image: url('https://pbs.twimg.com/media/Ed3XFyEUEAEQfqa?format=jpg&name=900x900');

        }
      </style>
</head>
<body>
    this is a simply calculator, <br> and this website is made up by python(django).

    <!-- Contacts section start -->
<div class="section" id="contacts">
    <h1><span>Follow Me</span></h1>
    <div>
        <a href="https://www.facebook.com/smartmohanx143">
            <img width="50" alt="Facebook" src="https://image.flaticon.com/icons/png/512/124/124010.png"/>
        </a>
        <a href="https://www.twitter.com/SmartMohanx">
            <img width="53" alt="Twitter" src="https://www.vhv.rs/dpng/d/185-1851355_line-clipart-computer-icons-social-media-facebook-small.png" />
        </a>

        <a href="https://www.instagram.com/smartmohanx">
            <img width="60" alt="instagram" src="https://i.pinimg.com/736x/c8/95/2d/c8952d6e421a83d298a219edee783167.jpg">
        </a>
    </div>
</div>
<!-- Contacts section end -->

<div class="copyright">
    &copy; 2020 Smart Mohanx Blog. All rights reserved.
</div>

</body>
</html>




{% endblock %}