<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator page!</title>

</head>
<body>
    <h2 style="background-color: #ff0040;">simple calculator</h2>

 
<form action="About">
    <input type="submit" value="About" name="About">
</form> 
 
 <form action="Creator">
    <input type="submit" value="Creator" name="creator">
 </form>
 
 
 <form action="Contact">
    <input type="submit" value="Contact" name="Contact">
 </form>

 <form action="back">
    <input type="submit" value="Home" name="back">
 </form>


 

    {% block content %}



    {% endblock %}




</body>
</html>