{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title>SMART MOHANX</title>
    </head>

    <body>
        <!-- header start -->
        <div id="header" class="section">
            <img alt="" class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5FhkiA3ZaEZkcWYRxm1R7bGyESynqpqMKo8ykcwIBVLmQvuyamGr-WjOV&s=10">
            <p>Smart Mohanx</p>
        </div>
        <!-- header end -->
        
        <!-- About Me section start -->
        <div class="section">
            <h1><span>About My Self</span></h1>
            <p2>
                Hey! I'm <strong>Mohanx</strong>. Coding has changed my world. It's not just about apps. Learning to code gave me <i>problem-solving skills</i> and a way to communicate with others on a technical level. I can also develop websites and use my coding skills to get a better job. Join me in this rewarding journey. You'll have fun, get help, and learn along the way!
            </p2> <br>
            <br>
            <p1> <strong>"Declare variables, not war"</strong> </p1>
        </div>
        <!-- About Me section end -->
        
        <!-- My Skills section start -->
        <div class="section">
            <h1><span>My Skills</span></h1>
            <ul>
                <li>Metasploit(Hacking Tool) <br />
                    <progress min="0" max="100" value="45"></progress>
                </li>
                <li>HTML <br />
                    <progress min="0" max="100" value="30"></progress>
                </li>
                <li>django <br />
                    <progress min="0" max="100" value="60"></progress>
                </li>
                <li>Python <br />
                    <progress min="0" max="100" value="80"></progress>
                </li>
                
            </ul>
        </div>
        <!-- My Skills section end -->
        
        
         <!-- Media section start -->
        <!-- <div class="section">
            <h1><span>My Media</span></h1>
            <iframe height="1200" width="300" src="https://pbs.twimg.com/media/DtVKoubU8AMyLOL.jpg" allowfullscreen frameborder="0"></iframe>
        </div> -->
        <!-- Media section end -->
        
        <!-- Contacts section start -->
<div class="section" id="contacts">
    <h1><span>Follow Me</span></h1>
    <div>
        <a href="https://www.facebook.com/smartmohanx143">
            <img width="50" alt="Facebook" src="https://image.flaticon.com/icons/png/512/124/124010.png"/>
        </a>
        <a href="https://www.twitter.com/SmartMohanx">
            <img width="53" alt="Twitter" src="https://www.vhv.rs/dpng/d/185-1851355_line-clipart-computer-icons-social-media-facebook-small.png" />
        </a>

        <a href="https://www.instagram.com/smartmohanx">
            <img width="60" alt="instagram" src="https://i.pinimg.com/736x/c8/95/2d/c8952d6e421a83d298a219edee783167.jpg">
        </a>
    </div>
</div>
<!-- Contacts section end -->

<div class="copyright">
    &copy; 2020 Smart Mohanx Blog. All rights reserved.
</div>

    </body>
</html>


{% endblock %}